<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^paintings/(.*)$ /content/paintings/paintings.php?query=$1
RewriteRule ^jonitaco/jonitaco(.*)$ http://jonitaco.weronikadylag.pl/$1 [L,R=301]

</IfModule>