<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^artist(/*)(.*)$ /content/artist/artist.php
RewriteRule ^photography(/*)(.*)$ /content/photography/photography.php
RewriteRule ^paintings(/*)(.*)$ /content/paintings/paintings.php?query=$2
RewriteRule ^jonitaco/jonitaco(.*)$ http://jonitaco.weronikadylag.pl/$1 [L,R=301]

</IfModule>